*{
    background-color:black;
    overflow-y: auto;
}
 
nav {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
  }
  
.nav-links ul  {
    display:flex;
    gap:30px;
    margin-left:900px;
    color:rgb(4, 52, 71);
    font-weight:1000px;
    font-style: oblique;
    position:fixed;
    overflow:hidden;
    background:transparent;
    text-decoration: none;
    font-size:22px;
  }
  .nav-links ul li{
    color:rgb(122, 202, 223);
    background:transparent;
    text-decoration: none;
  }
  .nav-links a{
    text-decoration: none;
    background: transparent;
 
 
  }
    .nav-links a:hover{
    color:rgb(137, 184, 238);
  }
  .nav-links ul a:hover {
    transform: scale(1.2); 
  }
   
.container {
    position: relative;
 background:none;
   
    overflow: hidden;
  }

  .image {
    width: 100%;
    height: 100%;
    display: block;
  }

  .overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 2;
  }
  .overlay h2{
    color:rgb(9, 200, 248);
    font-size: 100px;;
  }

  .container:hover .overlay {
    opacity: 0.4;
  }
    
 
.btn {
    position: absolute;
    top: 800px; 
    left: 800px; 
    padding: 10px 20px;
    color: rgba(0, 0, 0, 0.6);
   background-color:rgb(9, 184, 238) ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  .btn a:hover{
   transform: scale(1.9); 
   color: blue;
  
  }