
nav {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    overflow-x: auto;
  }
  
.nav-links ul  {
    display:flex;
    gap:30px;
    margin-left:900px;
    color:rgb(4, 52, 71);
    font-weight:1000px;
    font-style: oblique;
    position:fixed;
    overflow:hidden;
    background:transparent;
    text-decoration: none;
    font-size:22px;
  }
  .nav-links ul li{
    color:rgb(227, 244, 248);
    background:transparent;
    text-decoration: none;
  }
  .nav-links a{
    text-decoration: none;
    background: transparent;
 
 
  }
    .nav-links a:hover{
    color:rgb(137, 184, 238);
  }
  .nav-links ul a:hover {
    transform: scale(1.2); 
  }
  .container img{
    width:100%;
    height:800px;
  }
  
.container { 
position: relative;
 background:none;
overflow: hidden;
}
  .overlay2{
    color:rgb(226, 243, 242);
    position: absolute;
    top: 500px; left: 500px;
    width: 100%; height: 100%;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s;
    z-index: 2;
  }
  .card{
    display:flex;
    gap:70px;
    margin-left:300px
  }
  .h1{
    text-align:center;
   
  }
  .card1{
    color:rgb(18, 20, 20);
    border:solid;
    width:300px;
  

  }
  .impact-stats {
    background-color: #f4f7f8;
    padding: 60px 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
  }
  
  .impact-stats h2 {
    font-size: 2.5rem;
    color: #010b14;
    margin-bottom: 40px;
  }
  
  .stats-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  
  .stat-card {
    background-color: #ffffff;
    padding: 30px 20px;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    width: 200px;
    transition: transform 0.2s ease;
  }
  
  .stat-card:hover {
    transform: translateY(-5px);
  }
  
  .stat-card h3 {
    font-size: 2rem;
    color: #161616;
    margin: 0;
  }
  
  .stat-card p {
    font-size: 1rem;
    color: #555;
    margin-top: 10px;
  }
  
  .footer-section{
    background-color:black;
    display:flex;

  }
  .footer-section h2{
    color:rgb(183, 183, 233);
  }
  .footer-section p{
    color:rgb(183, 183, 233);
  }
  .footerimage img{
    width:40%;
    margin-left:400px;
    margin-top:50px;
  }
  .courses{
    margin-left:100px;
  }
  .courses ul li a{
    color:rgb(183, 183, 233);
  }
  .helpfullinks ul li a{
    color:rgb(183, 183, 233);
  }
  .helpfullinks{
    margin-left:150px;
    }
  .contactinformation{
    margin-left:150px;
   
  }
  .contactinformation p img{
    width:5%;
  }
  .copyright{
  margin-top:600px;
  }