   
  .nav-links ul {
    display:flex;
    gap:20px;
    margin-left:1000px;
    color:rgb(20, 20, 138);
    font-weight:800;
    font-style: oblique;
    

  }
  .footer-section{
    background-color:black;
    display:flex;

  }
  .footer-section h2{
    color:rgb(20, 20, 138);
  }
  .footer-section p{
    color:rgb(20, 20, 138);
  }
  .footerimage img{
    width:40%;
    margin-left:400px;
    margin-top:50px;
  }
  .courses{
    margin-left:100px;
  }
  .courses ul li a{
    color:rgb(20, 20, 138);
  }
  .helpfullinks ul li a{
    color:rgb(20, 20, 138);
  }
  .helpfullinks{
    margin-left:150px;
    }
  .contactinformation{
    margin-left:150px;
   
  }
  .contactinformation p img{
    width:5%;
  }
  .copyright{
  margin-top:600px;
  }